
/*
 * Colors:
 * #7FCDEE - light blue
 * #29ABE2 - shadow
 */


h1, h2, h3, h4, h5, h6 {
    font-family: 'Quicksand', sans-serif;
}

.white {
    color: #ffffff;
}

body {
    font-family: 'Spinnaker', sans-serif;
}

p {
    text-align: justify;
}

.navbar-nav a {
    font-size: 20pt;
}
.navbar-brand {
    font-size: 14pt;
}

.navbar-nav a,
.navbar-brand {
    font-family: 'Quicksand', sans-serif;
    text-shadow: 0 0 1px #fff;
    color: #fff;
    transition: color 500ms;
    -webkit-transition: color 500ms; /* Safari */
}

.navbar-nav a:hover,
.navbar-nav a:active {
    background: none !important;
    text-shadow: 0 0 2px #7FCDEE;
    color: #7FCDEE;
}

section {
    height: 100vh;
}

.wrapper.first {
    background: url('../img/leaf.jpg');
    /*background: url('../img/backgroun01.jpg');*/
    background-size: cover;
    min-height: 500px;
}

div.three-hexes {
    height: 120px;
    width: 308px;
    padding: 0;
    margin: 0 auto;
    top: 40vh;
    display: block;
    position: relative;
}

div.three-hexes div.col {
    width: 100px;
    height: 120px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
}

/*
 * Hex trick :D
 */

.hex:before {
    content: " ";
    width: 0; height: 0;
    border-bottom: 30px solid #fff;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
    position: absolute;
    top: -30px;
}

.hex {
    margin-top: 30px;
    width: 104px;
    height: 60px;
    background-color: #fff;
    position: relative;
    transition: background-color 500ms;
    -webkit-transition: background-color 500ms; /* Safari */
}

.hex img {
    z-index: 10;
    position: absolute;
    margin-left: 17px;
    margin-top: -4px;
    width: 70px;
}

.hex:hover {
    background-color: #7FCDEE;
}

.hex:after {
    content: "";
    width: 0;
    position: absolute;
    bottom: -30px;
    border-top: 30px solid #fff;
    border-left: 52px solid transparent;
    border-right: 52px solid transparent;
}


